<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My User Page</h1>
    <form action="/user/savedata" method="post">
        <label for="">Name:</label>
        <input type="text" name="name" id=""><br><br>
        <label for="">Age:</label>
        <input type="text" name="age" id=""><br><br>
        <label for="">Salary:</label>
        <input type="text" name="salary" id=""><br><br>
        <input type="submit" value="Save Data"><br><br>
    </form>
    <table border="2">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Action</th>          
        </tr>
        <% userdata.map((i)=>{ %>
            <tr>
                <td><%= i._id %></td>
                <td><%= i.name %></td>
                <td><%= i.age%></td>
                <td><a href="/user/delete/<%= i._id%>">Delete</a></td>
            </tr>
        <% }) %>
    </table>
    
</body>
</html>